<section class="ftco-section">
    <div class="container">
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-3 d-flex">

                    <div class="product">
                        <a href="@Url.Action("Details", "Products", new { id = product.ProductId })">
                            <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../../Content/Images/@product.ImageUrl);">
                            </div>
                        </a>
                        <div class="text text-center">
                            @if (product.Tag.Name == "None" || String.IsNullOrEmpty(product.Tag.Name))
                            {
                                <span></span>
                            }
                            else
                            {
                                <span class="sale">@product.Tag.Name</span>
                            }
                            <span class="category">@product.AlcoholCategory.Name</span>
                            <h2>@product.Name</h2>
                            <p class="mb-0"><span class="price">R @product.Price</span></p>
                        </div>
                        <div style="margin-top: -10px" class="d-flex justify-content-center">
                            <div class="px-2"><a class="btn btn-primary" onclick="addToCart(@product.ProductId, 1)"><span class="flaticon-shopping-bag"></span></a></div>
                            <div><a class="btn btn-success" href="@Url.Action("Details", "Products", new { id = product.ProductId })"><span class="flaticon-visibility"></span></a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>