@model SpeedyWheelz.Models.Address

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")

<style>
    .gradient-custom {
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    }

    .card-custom {
        border-bottom-left-radius: 10% 50%;
        border-top-left-radius: 10% 50%;
        background-color: #f8f9fa;
    }


    .input-custom {
        background-color: white;
    }

    .white-text {
        color: hsl(52, 0%, 98%);
        font-weight: 100;
        font-size: 14px;
    }

    .back-button {
        background-color: hsl(52, 0%, 98%);
        font-weight: 700;
        color: black;
        margin-top: 50px;
    }
</style>

<script>
    $(document).ready(function () {
        $('#FirstName').val('@Model.FirstName');
        $('#FirstNameHidden').val('@Model.FirstName');
        $('#LastName').val('@Model.LastName');
        $('#LastNameHidden').val('@Model.LastName');
    });
</script>

<div class="row justify-content-center">
    <div class="text-center">
        <a href="@Url.Action("Index", "Cart")"><button type="submit" class="btn btn-white btn-rounded back-button">Go back</button></a>
    </div>
</div>
<div class="col-md-9 justify-content-center">
    <div class="card card-custom pb-4">
        <div class="card-body mt-0 mx-5">
            <div class="text-center mb-3 pb-2 mt-3">
                <h4 style="color: #495057 ;">Delivery Details</h4>
            </div>

            <script>
                console.log(@ViewBag.sig);
            </script>

            @using (Html.BeginForm("Index", "Order", FormMethod.Post, new { enctype = "multipart/form-data", @class = "mb-0" }))
            {
                @Html.AntiForgeryToken()
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="FirstNameHidden" style="display: none;" value="" />
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control input-custom" } })
                            <label class="form-label" for="form9Example1">First name</label>
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="LastNameHidden" style="display: none;" value="" />
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control input-custom" } })
                            <label class="form-label" for="form9Example2">Last name</label>
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row mb-12">
                    <div class="col">
                        <div class="form-outline">
                            @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control input-custom" } })
                            <label class="form-label" for="form9Example6">Street Address</label>
                            @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row mb-12">
                    <div class="col">
                        <div class="form-outline">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control input-custom" } })
                            <label class="form-label" for="typeEmail">Phone Number</label>
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="float-end ">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-rounded"
                            style="background-color: #0062CC ;">
                        Place order
                    </button>
                </div>

            }
        </div>
    </div>
</div>
