@model SpeedyWheelz.Models.Product

@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group d-flex">
        <div class="col-sm-6">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group d-flex">
        <div class="col-sm-6">
            @Html.LabelFor(model => model.isAlcohol, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.isAlcohol, new { htmlAttributes = new { @class = "form-control", @style = "height:25px;width:25px;" } })
            @Html.ValidationMessageFor(model => model.isAlcohol, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(model => model.isTobacco, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.isTobacco, new { htmlAttributes = new { @class = "form-control", @style = "height:25px;width:25px;" } })
            @Html.ValidationMessageFor(model => model.isTobacco, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group text-center">
        @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label" })
        <input type="file" name="image" />
        @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryId, "Category", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group" id="alcoholCategoryDiv" style="display:none;">
        @Html.LabelFor(model => model.AlcoholCategoryId, "AlcoholCategory", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("AlcoholCategoryId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AlcoholCategoryId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group" id="tobaccoCategoryDiv" style="display:none;">
        @Html.LabelFor(model => model.TobaccoCategoryId, "TobaccoCategory", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("TobaccoCategoryId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TobaccoCategoryId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TagId, "Tag", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("TagId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TagId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
}
