@model IEnumerable<SpeedyWheelz.Models.Product>


<div class="float-right mr-2 sticky-top" style="margin-top: -28px;">
    <a href="@Url.Action("Create", "Admin")"><button class="btn btn-primary">Add Product</button></a>
</div>
<div class="float-left mr-2 sticky-top" style="margin-top: -28px;">
    <a href="@Url.Action("UserOrders", "Admin")"><button class="btn btn-primary">Orders</button></a>
</div>
<section style="background-color: #eee;">
    <div class="container py-5">
        @foreach (var item in Model)
        {
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <div class="card text-black">
                        <img src="../../Content/Images/@item.ImageUrl"
                             class="card-img-top" alt="Apple Computer" />
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="font-weight-bold mb-4">R @item.Price</p>
                            </div>
                            <div class="d-flex justify-content-between total font-weight-bold mt-4">
                                <span><a href="@Url.Action("Edit", "Admin", new { id = item.ProductId })"><button class="btn btn-primary">Edit</button></a></span>
                                <span><a href="@Url.Action("Delete", "Admin", new { id = item.ProductId })"><button class="btn btn-danger">Delete</button></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        }
    <div class="text-center">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:;" onclick="document.forms[0].submit();">Logout</a>
        }
    </div>
    </div>
</section>