@model SpeedyWheelz.Models.Order

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h5>Have you fulfilled @Model.ApplicationUser.FirstName's Order?</h5>
        </div>
    </div>
        <div class="row d-flex justify-content-between">
            
                <button id="deliverConfirm" data-order-id="@Model.OrderId" class="btn btn-primary btn-block">Yes</button>

                <p onclick="$('#exampleModal').hide()" class="btn btn-block btn-outline-danger">No</p>
            </div>
</div>
<script>

    $(document).ready(function () {
        $("#ftco-loader").fadeOut();
    })
    $('#deliverConfirm').click(function () {
        var dataVal = $(this).data("order-id");
        $.ajax({
            url: '@Url.Action("FulfillOrderConfirmed", "Driver")',
            type: "post",
            data: { orderId: dataVal },
            success: function () {
                window.location.href = "@Url.Action("DriverAssignedOrders", "Driver", new { driverId = Model.DriverId })"
            },
            failure: function () {
                console.log("Failure")
            }
            })
    })
</script>

